/*header related*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(63, 154, 182, 0.5);
  padding: 10px 0;

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 0;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 30px;
}

.dark-mode-tooltip {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #ccc;

  border-radius: 50%;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dark-mode-tooltip:hover {
  background-color: #bbb;
}

h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;


}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}






input:checked+.slider {
  background-color: darkkhaki;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 196%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

html.dark-mode .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #f5f1f1e8;
  color: #000000;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 196%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

html.dark-mode .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f5f1f1e8 transparent;
}


  /* body/main-page */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  line-height: 1.6;
  color: #fff;
  background-color: #abd9e9;

}

/* Main-container*/


.container {
  display: flex;
  flex-direction: row;
  height: 78vh;
  max-width: 1199px;
  margin: 3% auto;
  justify-content: center;
}


/*famousPerson*/

.famousPerson-select-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.famousPerson-select-item:hover {
  background-color: #5e616a;

}


.famousPerson-select-container {
 
  width: 20%;
  padding: 19px;
  background-color: #3b3e49;
  overflow-y: scroll;
 
}

.famousPerson-select-item {
  display: flex;
  align-items: center;
  margin-top: 11px;
  padding: 5px 0px 5px 8px;
}

.famousPerson-switch-message {
  background-color: transparent;
  border: none;
  font-style: italic;
  opacity: 0.7;
}

.famousPerson-selected {
  background-color: #555;

}

.famousPerson-select-item img:hover {
  opacity: 0.8;
  cursor: pointer;
  border: 2px solid #ccc;
}

.famousPerson-select-item {
  position: relative;
}


.chat-container {
  height: 100%;
  width: 54%;
  display: flex;
  flex-direction: column;
  background-color: #3b3e49;

}

.chat-log {
  opacity: 1;
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgb(255 255 255 / 25%);
  padding: 10px;
  border-bottom: 2px solid #fff;
 
}

.message {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 75%;
  word-wrap: break-word;

}

.user-message {
  background-color: #2b4385;
  color: #fff;
  align-self: flex-end;
  border-radius: 18px 18px 3px 18px;
  margin-left: auto;
}

.ai-message {

  background-color: #666;
  position: relative;
  color: #fff;
  align-self: flex-start;
  border-radius: 18px 18px 18px 3px;
  margin-right: auto;
  max-width: 75%;
}

.message-text {
  display: inline-block;
}

.mute-button {
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}


.replay-button {
  position: absolute;
  bottom: -19px;
  left: 12px;
  background-color: green;
  color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  height: 24px;
  width: 24px;
  padding: 2.2px;
  padding-left: 2px;
  box-sizing: border-box;
}

.replay-button:hover {
  background-color: #075e07fa;
}



button:hover {
  background-color: #555;
}



.flip {
  transform: scalex(-1);
}



.title {
  display: flex;

}


.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}




input:checked+.slider2 {
  background-color: rgb(47, 16, 185);
}

input:checked+.slider2:before {
  transform: translateX(26px);
}

.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  min-width: 50px;
}

.typing-indicator span {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin: 0 2px;
  width: 6px;
  animation: typing-indicator-blink 1.4s infinite both;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing-indicator-blink {
  0% {
    opacity: 0.4;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.character-count {
  margin-left: 20px;
  font-size: 14px;
  color: #ccc;
  margin-top: 72px;
  bottom: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.microphone-on {
  animation: pulse 2s infinite;

}

.microphone-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 3px;
  bottom: 3px;
  z-index: 1;
}

.microphone-icon:hover {
  color: red;
}

.input-container {
  background-color: #222;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 49px;
}

textarea {

  background-color: #222;
  color: #ccc;
  padding: 15px;
  width: 100%;
  height: 69px;
  font-size: 16px;
  resize: none;
  padding-right: 38px;
  border: none;
  border-radius: 5px;

}

.button-Container {
  margin-top: 32px;
}

#submit-button {
  right: 10px;
  bottom: 10px;
  z-index: 1;
  margin-top: -13px;
  display: flex;
}


#clear-button {
  right: 10px;
  z-index: 1;
}

.controls {
  display: flex;
  align-items: center;
  height: 92%;
}


button {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #333;
  color: #fff;
  font-weight: 600;
  cursor: pointer;

}

/*----------------------------------------------------------------------------------------------------------------*/


.add-voice-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.add-voice-button {
  margin-left: 0;
  font-size: 16px;
  border-radius: 3px;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 10px;
}

/*----------------------------------------fourm style----------------------------------------------------*/

.sections-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.or-divider {
  font-size: 34px;
  margin-top: 100px;

}

.section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

.holding-container {
  height: 385px;
  position: relative;
  padding: 20px;
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 5px;
  align-items: right;
  justify-content: right;
}

#cancel-add-voice {

position: absolute;
right: 0;
margin-right: 20px;
margin-top: 17px;



width: 20%;
}

#api-dropdown {

  height: 30px;
  font-size: 18px;
}

/*----------------------------------------loading button----------------------------------------------------*/

.loading-button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  transition: all 0.3s ease;
  /* Add this line for the transition effect */
  color: rgba(255, 255, 255, 0.3);
  ;
}

/*----------------------------------------responsive code----------------------------------------------------*/
@media only screen and (max-width: 540px) {
  .container {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    margin: 0;
  }

  .famousPerson-select-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .chat-container {
    width: 100%;
  }

  .sections-container {
    flex-direction: column;
    gap: 10px;
  }

  .section {
    flex: none;
    width: 100%;
  }

  .or-divider {
    display: none;
  }

  .holding-container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  #cancel-add-voice {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
}








.controls-Container {

  padding: 0px 25px 17px 25px;

  /* height: 19%; */

  margin-top: -17px;
}

#searchbar {
  width: 100%;
  height: 39px;
  line-height: 50px;
  padding: 0 26px 0px 17px;
  background-color: #5e616a;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
  background-repeat: no-repeat;
  background-position: 142px;
  background-size: 40px;

}

.delete-button {


  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #7a6564;
  border: none;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  opacity: 0;

}



.famousPerson-select-item:hover .delete-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: #911d1d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*----------------------------------------header style/switch----------------------------------------------------*/

.switch-text{
position: absolute;
margin-top: 4px;
margin-left: 21px;
}
html.dark-mode body {
  background-color: #333;
  /* Or any other dark background color */
  color: #f1f1f1;
  /* Or any other light text color */

}

html.dark-mode body header {

  border-bottom-color: rgba(255, 255, 0, 0.459);
  /* Adjust border color in dark mode */
}

body,
header {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.dark-mode-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.switch2{position: relative;display: inline-block;width: 60px;height: 34px;margin-top: 0px;margin-bottom: 24px;}